body {
  margin: 0;
  font-family: Arial, sans-serif;
  background:radial-gradient(at 75.38236198720878% 24.880566230435086%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 12.968831796429448% 0.5436477549711771%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 1) 0%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 0) 100%), radial-gradient(at 21.972326706581736% 9.782016126501736%, hsla(27.058823529411764, 100%, 50%, 1) 0%, hsla(27.058823529411764, 100%, 50%, 0) 100%), radial-gradient(at 61.569777491065935% 60.73847134178727%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 21.707744075904035% 67.71472787863458%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 1) 0%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 0) 100%), radial-gradient(at 79.01398106048656% 14.80663461126377%, hsla(27.058823529411764, 100%, 50%, 1) 0%, hsla(27.058823529411764, 100%, 50%, 0) 100%), radial-gradient(at 21.670599049870297% 76.20628302421481%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 97.53631548001984% 89.58227432944916%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 1) 0%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 0) 100%), radial-gradient(at 52.50630144121473% 6.161437255132118%, hsla(27.058823529411764, 100%, 50%, 1) 0%, hsla(27.058823529411764, 100%, 50%, 0) 100%), radial-gradient(at 22.080814837332262% 41.6498658555438%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 51.43585002715929% 42.30354671123504%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 1) 0%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 0) 100%);
  background-attachment: fixed;
}

button {
  background-color: #4b3126;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #2e3357;
}

